.gameRoomHeader {
    margin-bottom: 5px;
}

.gameRoomContainer {
    height:80%;
    padding-top: 3%
}

html {
    height: 100%;
}

body {
    height:100%;
    background-color:#7ca5b9;
}

.contained {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contained h4 {
    font-weight: bold;
    text-decoration: underline;
}

#playersTable {
    background-color: lightgray;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

#playersTable thead {
    background-color: darkgray;
}

#gameBoardDiv {
    -webkit-box-shadow: inset 0px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 17px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.75);
    background-color: #93c1d8;
    padding-top:20px;
    padding-bottom:15px;
    padding-left:15px;
    pading-right:15px;
    border: 1px solid white;
    text-align: left;
    overflow:auto;
    height: 100%;
    white-space: nowrap;
}

.gameCell {
    width:25px;
    height:25px;
    border:1px solid #000;
    margin-bottom: 3px;
    background-color: darkturquoise;
}

.slice {
    width:25px;
    height:25px;
    margin-bottom: 3px;
    margin-right: 5px;
    text-align: center;
}

.whiteCell {
    background-color: white;
}

.blackCell {
    background-color: #555;
}

.selectedCell {
    background-color: #017a7b;
}

div.col-sm-8.text-center {
    height:100%;
}

div.row {
    height:100%;
}

.perfectSlice {
    color: #ff0000;
}

#spectatorsList {
    list-style-type: none;
    line-height: 1.5em;
    list-style-image: url("/Griddler_Game/resource/eye.png");
    margin-left: 25%;
    text-align: left;
}

th {
    text-align:center;
}